{% if messages %}
    {% for message in messages %}
    <script>toastr[`{{message.tags}}`](`{{ message }}`)</script>
    {% endfor %}
{% endif %}

{% if form.errors %}
    {% for field in form %}
        {% if field.errors %}
        <!-- <script>toastr["error"](`{{ field.errors }}`)</script> -->
            {% for error in field.errors %}
            <!-- <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li> -->
            <script>toastr["error"](`{{ field.name }}: {{ error }}`)</script>
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <script>toastr["error"](`{{ error }}`)</script>
        {% endfor %}
    {% endif %}
{% endif %}
